apiVersion: v1
kind: Service
metadata:
  name: mongodb-service
  namespace: {{ .Values.database.namespace }}
spec:
  selector:
    app: mongodb
  ports:
  - protocol: TCP
    port: {{ .Values.database.service.port }}
    targetPort: {{ .Values.database.service.targetPort }}
  type: ClusterIP
